/* General design */

QWidget {
    margin: 0px;
    padding: 0px;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Tahoma", sans-serif;
    font-weight: 400;
	font-size: 9pt;
    color: #4E4D4D;
}


/* Default widget design */

QLabel {
    
}

QGroupBox {
    border: none;
    margin-top: 2ex;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 5px;
}

QLineEdit {
    border: none;
}

QPushButton {
    
}



/* Menu */



QMenuBar {
    margin: 0px;
    /* background: #3870D0; */
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 #f6f6f6, stop:1 #f0eeee);
    font-weight: 200;
    font-size: 9pt;
}

 QMenuBar::item {
     margin: 3px 5px 0px 5px;
     padding: 2px 5px;
     /* background: transparent; */
     border-radius: 0px;
     border-top-left-radius: 2px;
     border-top-right-radius: 2px;
     /* color: #FFF; */
     
 }

 QMenuBar::item:selected { 
     background: #7d7d7d;
     color: #fff;
 }

 QMenuBar::item:pressed {
     background: #7d7d7d;
     color: #fff;
 }




/* *********** TAB-WIDGET ********* */

QTabBar {
    font-size: 10.5pt;
    color: #333333;
}

QTabWidget::tab-bar {
    alignment: center;
}


/* ******* Performance Left - Groupbox ****** */


QGroupBox#performance-tab-items {
    border-right: 1px solid #C2C7CB;
}


/* Performance Custom - buttons */

QPushButton#performance-custom-button {
    border: none;
}

QPushButton#performance-custom-button:hover, QPushButton#performance-custom-button:selected {
    border: 1px solid blue;
    background: #b7e2fa;
    opacity: 0.7;
}

QPushButton#performance-custom-button:selected {
    
}

QLabel#perf-btn-title {
    font-size: 11pt;
    color: #383737; 
}

QLabel#perf-btn-subTitle {
    font-size: 9pt;
    color: #707991;   
}

/* Performance item infos */

QLabel#perf-infos-title {
    font-size: 15pt;
    font-weight: 500;
    color: #3c4a73;
}

QLabel#perf-infos-subTitle {
    font-size: 13pt;
    color: #3c4a73;
}

QLabel#perf-graph-legend {
    font-size: 8pt;
    color: #777777;
}

QGroupBox#perf-graph {
    border: 1px solid #C2C7CB;
}